/* line 20, ../../sass/mmw_charts_main.scss */
.admin-menu .mmw-charts-main-container .title-row {
  margin-top: 0;
}

/* line 24, ../../sass/mmw_charts_main.scss */
body.node-type-advanced-fusioncharts {
  position: static !important;
}

/* line 28, ../../sass/mmw_charts_main.scss */
#layout-body .mmw-charts-main-container .row {
  margin-right: -15px !important;
}

/* line 33, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container svg > text {
  display: none;
}
@media (max-width: 991px) {
  /* line 37, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .pull-left-sm {
    float: left !important;
  }
}
/* line 41, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #units-message {
  font-weight: 700;
  color: #333;
}
/* line 45, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .mmw-charts-hidden-element {
  display: none;
}
/* line 48, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .checkbox {
  margin: 0;
}
/* line 50, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .checkbox input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  position: absolute;
  margin-top: 4px \9;
  margin-left: -20px;
  box-sizing: border-box;
  padding: 0;
}
/* line 60, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .checkbox.checkbox-primary.eu27 {
  display: none !important;
}
/* line 63, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .checkbox label {
  min-height: 20px;
  padding-left: 5px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 12px;
  color: #333;
}
/* line 74, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
/* line 89, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
/* line 103, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .checkbox + .checkbox {
  margin-top: -5px;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 112, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .tooltips-row a {
  float: right;
  border: none;
  background-color: #fff;
  font-weight: normal;
  color: #fd8433;
  padding: 5px;
  cursor: pointer;
  line-height: 20px;
}
/* line 124, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .title-row {
  margin-top: -50px;
  margin-bottom: 10px;
}
/* line 128, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .menu-lvl2 {
  padding-left: 20px;
}
/* line 131, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .menu-lvl3 {
  margin-bottom: 4px !important;
  margin-top: 4px !important;
  padding-left: 40px;
}
/* line 136, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .menu-lvl4 {
  margin-bottom: 4px !important;
  margin-top: 4px !important;
  padding-left: 60px;
}
/* line 141, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .exporters {
  position: absolute;
  top: 20px;
  right: 20px;
}
/* line 146, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .exporters form,
.mmw-charts-main-container .exporters a {
  display: inline-block;
}
/* line 149, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .exporters a {
  background-color: #fff;
  font-weight: normal;
  color: #fd8433;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #fd8433;
  cursor: pointer;
  vertical-align: top;
}
@media (max-width: 767px) {
  /* line 149, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .exporters a {
    display: inline-block !important;
  }
}
@media (max-width: 400px) {
  /* line 5, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .exporters a span,
  .mmw-charts-main-container .exporters button span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  /* line 15, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .exporters button {
    padding: 5px 10px;
  }
}
@media (max-width: 545px) {
  /* line 5, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .exporters.player-button a span,
  .mmw-charts-main-container .exporters.player-button button span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  /* line 15, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .exporters.player-button button {
    padding: 5px 10px;
  }
}
/* line 170, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .exporters button.btn {
  float: right;
  margin-right: 250px;
  margin-top: 20px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 175, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .exporters button.btn span {
  margin-left: 10px;
}
/* line 178, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .exporters button.btn#export-form {
  margin-top: 0;
  margin-right: 0;
}
/* line 184, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .lvl3-button {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 10px;
}
/* line 191, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .btn-print {
  float: right;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  border: none;
}
/* line 197, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .btn-print .fa {
  margin-right: 6;
}
/* line 201, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container span.btn-print {
  background-color: #fff;
  font-weight: normal;
  color: #fd8433;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
  margin: 0;
}
/* line 209, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container button {
  background-color: #fff;
  font-weight: normal;
  color: #fd8433;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #fd8433;
  cursor: pointer;
}
/* line 220, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #countries-chart-container #absolute-year {
  border: 2px solid orange;
  color: #ff7a00;
  font-size: 120%;
  padding: 10px;
  position: absolute;
  z-index: 10;
  margin-top: -15px;
}
/* line 229, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #countries-chart-container #no-data {
  height: 0px;
  position: relative;
  top: 70px;
  left: 200px;
}
/* line 234, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #countries-chart-container #no-data ul {
  margin-top: 10px;
}
/* line 237, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #countries-chart-container #no-data li {
  line-height: 30px;
}
/* line 241, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #countries-chart-container #country-select {
  overflow: auto;
  margin-right: 15px;
  height: 250px;
}
@media (max-width: 767px) {
  /* line 241, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container #countries-chart-container #country-select {
    margin: 0 15px;
    height: auto;
  }
}
/* line 249, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #countries-chart-container #country-select.show {
  display: block !important;
}
/* line 255, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels {
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #f7f7f7;
  border: none;
  border-bottom: 1px solid #f4823b;
}
/* line 262, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels::after {
  content: " ";
  clear: both;
  display: block;
}
/* line 267, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels hr {
  opacity: 0.2;
  margin-top: 5px;
  margin-bottom: 20px;
  border-style: inset;
}
/* line 273, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels select {
  width: auto;
}
/* line 275, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels select.labeled {
  margin-left: 10px;
}
/* line 279, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels .select-row {
  margin-bottom: 10px;
}
/* line 281, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels .select-row.keep-float {
  float: left;
  margin-right: 20px;
}
/* line 286, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels #themes-lvl0 {
  width: 200px;
}
/* line 289, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels #themes-lvl1 {
  width: 300px;
}
/* line 291, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels #themes-lvl1 .menu-lvl2 {
  color: #373737;
  background: #f3f3f3;
}
/* line 295, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels #themes-lvl1 .menu-lvl3 {
  color: #606060;
  background: #ffffff;
}
/* line 300, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .panels .select-label {
  display: block;
  float: left;
  margin-top: 6px;
}
@media (max-width: 767px) {
  /* line 306, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .panels .select-label {
    float: none;
  }
  /* line 309, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .panels select {
    width: 100%;
    display: block;
  }
  /* line 312, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .panels select.labeled {
    margin-left: 0;
  }
  /* line 318, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .panels .select-row,
  .mmw-charts-main-container .panels #themes-lvl0,
  .mmw-charts-main-container .panels #themes-lvl1 {
    width: 100%;
  }
}
/* line 324, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #container-charts-controls {
  font-size: 100%;
  color: #069;
  font-family: Verdana, Arial, Helvetica, "DejaVu Sans", sans-serif;
}
/* line 328, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #container-charts-controls select {
  background: #ffffff;
  padding: 5px;
  line-height: 1;
  border: 1px solid #cecece;
  border-radius: 0;
  height: 34px;
  color: #555555;
}
/* line 336, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #container-charts-controls select:disabled {
  color: #b3b0b0;
  background: #ececec;
}
/* line 341, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #container-charts-controls label {
  color: #069;
  font-weight: 400;
}
/* line 345, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #container-charts-controls #year {
  border: 1px solid #fd8433;
  color: #ff7a00;
  /*font-size: 120%;*/
  padding: 5px;
  background-color: #fff;
  font-weight: normal;
  height: 32px;
}
/* line 357, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .select-scenario label {
  padding-right: 10px;
}
/* line 362, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .timeline {
  padding: 20px;
  background: #f7f7f7;
  min-height: 72px;
  border: none;
  position: relative;
}
/* line 369, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .timeline .timeline-content .ui-slider-pips .ui-slider-label {
  width: auto;
}
@media (min-width: 768px) {
  /* line 362, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .timeline {
    margin-top: 35px;
  }
  /* line 375, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .timeline .timeline-content {
    margin-right: 140px;
  }
}
/* line 379, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .timeline button:hover {
  color: #fd8433;
}
/* line 382, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .timeline #play {
  float: left;
  padding-left: 11px;
  padding-right: 9px;
}
/* line 387, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .timeline .slider {
  margin-left: 90px;
  margin-right: 50px;
}
/* line 393, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container .charts-landing-img {
  display: block;
  margin-right: 25px;
  margin-bottom: 25px;
}
/* line 398, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #chart-container {
  margin-top: 15px;
}
/* line 401, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #graph-select-error-message {
  color: red;
  margin-left: 63px;
  margin-top: 37px;
  position: absolute;
}
@media (max-width: 767px) {
  /* line 401, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container #graph-select-error-message {
    float: right;
    margin-top: 5px;
    margin-left: 0;
    position: relative;
  }
}
/* line 413, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #categ-description {
  margin-top: 15px;
  margin-left: 20px;
  border: 1px solid #fd8433;
  padding: 15px;
  margin-right: 20px;
  color: #555555;
}
/* line 420, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #categ-description .description-container {
  padding-bottom: 15px;
}
/* line 423, ../../sass/mmw_charts_main.scss */
.mmw-charts-main-container #categ-description .label-description {
  font-weight: 700;
  font-size: 1.15em;
  padding-bottom: 5px;
}

/*----------------------------------------------------
    PRINT
------------------------------------------------------*/
@media print {
  /* line 435, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container {
    padding-top: 0;
    width: 800px;
  }
  /* line 438, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .select-row.timeline {
    display: none;
  }
  /* line 441, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container #country-select {
    height: auto;
  }
  /* line 444, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .btn-print {
    display: none;
  }
  /* line 447, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .panels {
    display: none;
  }
  /* line 450, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .header {
    display: none;
  }
  /* line 453, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .title-row {
    margin-top: 50px;
  }
  /* line 456, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .title-row button {
    display: none;
  }
  /* line 459, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container #countries-chart-container .right {
    display: none;
  }
  /* line 462, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container .timeline {
    display: none !important;
  }
  /* line 465, ../../sass/mmw_charts_main.scss */
  .mmw-charts-main-container #container-charts-controls {
    width: 800px;
  }
}
